In [89]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [90]:
from matplotlib.pyplot import rcParams
import os
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV, cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score

%matplotlib inline
rcParams['figure.figsize'] = 10,8
sns.set_theme(style='whitegrid', palette='muted',
        rc={'figure.figsize': (15,10)})

In [95]:
train=pd.read_csv('../data_mod/train_clean.csv')
test=pd.read_csv('../data_mod/test_clean.csv')
df=pd.concat([train,test])

In [96]:
train.shape, test.shape,  f"{abs((df.shape[0] - (pd.read_csv('../data_raw/test.csv').shape[0] + pd.read_csv('../data_raw/train.csv').shape[0])) / (pd.read_csv('../data_raw/test.csv').shape[0] + pd.read_csv('../data_raw/train.csv').shape[0])) * 100:.2f}% missing values dropped"

((712, 9), (331, 8), '20.32% missing values dropped')

In [97]:

        
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Survived,712.0,NaN,NaN,NaN,0.404494,0.491139,0.0,0.0,0.0,1.0,1.0
Pclass,1043.0,NaN,NaN,NaN,2.209012,0.840685,1.0,1.0,2.0,3.0,3.0
Name,1043,1041,"Kelly, Mr. James",2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sex,1043,2,male,657,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age,1043.0,NaN,NaN,NaN,29.813202,14.366254,0.17,21.0,28.0,39.0,80.0
SibSp,1043.0,NaN,NaN,NaN,0.504314,0.91308,0.0,0.0,0.0,1.0,8.0
Parch,1043.0,NaN,NaN,NaN,0.42186,0.840655,0.0,0.0,0.0,1.0,6.0
Fare,1043.0,NaN,NaN,NaN,36.603024,55.753648,0.0,8.05,15.75,35.0771,512.3292
Embarked,1043,3,S,781,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Encode for MLibs